@font-face {
  src: url(../fonts/Inter.ttf);
  font-family: inter;
  font-display: swap;
}

@font-face {
  src: url(../fonts/Montserrat.ttf);
  font-family: mont;
  font-display: swap;
}

:root {
  --primary-color: #e5989b;
  --text-white: #f3f1f8;
  --text-grey: #a1a5aa;
  --light-black: #15151a;
  --light-blue: #4182aa;
  --border-color: rgb(40 42 55/1);
  --background-color: rgb(30 41 59/0.5);
  --background-color-1: rgb(27 44 70/1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1b158f;
  border-radius: 5px;
}

::selection {
  background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #100d54 #232E33;
  }
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  z-index: -1000;
}

.bg img {
  object-fit: cover;
  width: 100%;
  z-index: -1000;
}

.snowflakes {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.text:hover {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin: 7px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

/* Hero */

.rotating-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  transition: width 0.4s ease-in-out;
}

.rotating-text-container p {
  margin-right: 20px;
  font: 30px mont
}

.text-rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  width: 200px;
  position: relative;
  font: 800 30px mont;
  color: #000;
  background-color: #67e8f9;
  border-radius: .5rem;
  padding: .125rem .5rem;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
  overflow: hidden;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}

.content {
  margin: 20vh 0;
  padding: 0 10vh;
}

.content .content-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content .content-item .container {
  background-color: rgb(20 36 27/1);
  border: 2px solid rgb(30 53 41/1);
  border-radius: 10px;
  padding: 10px 15px;
  height: fit-content;
}

.content .content-item h2 {
  font: 800 30px inter;
  color: var(--text-white);
}

.content .content-item p {
  font: 400 16px inter;
  padding-left: 7px;
}

.content .content-item img {
  width: 400px;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* 404 */

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.row svg {
  width: 100%;
  margin: 0 50vh 0 -20px;
}

.cat-container h1 {
  font: 30px mont;
  color: var(--text-white);
}

.cat-container p {
  font: 15px inter;
  color: var(--text-grey);
}

.cat-container button {
  background: transparent;
  margin: 20px 20px 0 0;
  padding: 5px 15px;
  border: 2px solid #8a817c;
  border-radius: 8px;
  color: var(--text-white);
  font: 15px mont;
  transition: all 500ms ease;
}

.cat-container button:hover {
  cursor: pointer;
  background-color: #023e8a;
  border: 2px solid #023e8a;
}